{% extends 'hr/base.html' %}

{% block main %}
  {% load static %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
              <h3>Assets</h3>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-8"></div>
                              <div class="col-md-4" align="right">
                                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add">
                                      <i class="fa fa-plus"> </i> Add New
                                  </button>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <table id="datatablex" class="table table-striped" style="width:100% !important;">
                                      <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Employee</th>
                                            <th>Type of Asset</th>
                                            <th>Given Date</th>
                                            <th>Return Date</th>
                                            <th>Asset details</th>
                                            <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for i in assets %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.profile.emp_name}} ({{i.profile.emp_id}})</td>
                                            <td>{{i.type}}</td>
                                            <td>{{i.given_date}}</td>
                                            <td>{{i.return_date}}</td>
                                            <td>{{i.details}}</td>
                                            <td>{{i.id}}</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
        <!-- /page content -->


<div class="modal fade" id="add" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-body">
              <div class="row mb-5">
                  <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="emp">Employee</label>
                            <select name="emp" id="emp" class="form-control select2" required>
                                <option value="" disabled selected> -- Please Select -- </option>
                                {% for i in profiles %}
                                <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="type">Type of Asset</label>
                            <select name="type" id="type" class="form-control select2" required>
                                <option value="" disabled selected> -- Please Select -- </option>
                                <option value="Computer">Computer</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Book">Book</option>
                                <option value="Mobile">Mobile</option>
                                <option value="Phone">Phone</option>
                                <option value="Vehicle">Vehicle</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="given">Given Date</label>
                            <input type="date" name="given" id="given" class="form-control" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="return">Return Date</label>
                            <input type="date" name="return" id="return" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="details">Asset details</label>
                            <textarea id="details" name="details" class="form-control"></textarea>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script>
  $('#datatablex').DataTable( {
      responsive: true
  } );
</script>
{% endblock %}
